
.navbar-default {
    background-color: #bbdefb!important;
}

.panel-default>.panel-heading {
    background-color: #bbdefb!important;
}

#h1text {
    color:grey;
    /*background-color: #e1f5fe;*/
    margin-bottom:0;

}

.panel panel-default {
    background-color: #e1f5fe;
}

#buttonSubmit {
    margin-left:54%;
}

#submitButton {
    margin-left:40%;
}

#deleteButton:hover {
    background-color:#BBDEFB;
    /*border-color: #BBDEFB;*/
}

#deleteButton {
    /*padding-top:3px;*/
    /*padding-bottom:3px;*/
    /*padding-left:6px;*/
    margin-left:97%;
    margin-top:-50%;
    transform: scale(1.2);
}

#Arrow_post {
    margin-top:2%;
    margin-left:0.5%;
    transform: scale(2.3);
}


